<% layout('layouts/boilerplate') %>
    
<h1>Game here</h1>    
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In consequatur optio a eos expedita labore earum sunt saepe, quis atque quaerat maiores necessitatibus animi nesciunt accusantium illo nulla sequi molestiae.</p>