<% layout('layouts/boilerplate') %>
 
<div id="container">
    <canvas id="stars"></canvas>
    <div id="overlay" class="mx-auto mt-5 " style="background-color: coral;">
        <h1>DIV</h1>
    </div>
</div>


<script src="/scripts/starsBg.js"></script>