<% layout('layouts/boilerplate') %>
<%- include('partials/nav') %> 
<div id="overlay" class="container position-absolute top-100 start-50 translate-middle text-center">
    <div class="row mb-3 mt-3">
        <span class="col rounded-pill" id="color-indicator">
            <h1>col 1</h1>
        </span>
    </div>
    <div class="row">
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
        <div class="col">
            <div class="m-auto rounded-circle color-pad"> color </div>
        </div>
    </div>
</div>
