<% layout('layouts/boilerplate') %>

<div id="overlay" class="container">
    <h1>Landing page</h1>
    <a href="/game/1">Easy</a>
    <a href="/game/2">Intermediate</a>
    <a href="/game/3">Hard</a>
    
</div>