#container {
    position: relative;
}

#container canvas, #overlay {
    position: absolute;
}

#overlay {
    margin-top: 300px;
    width: 400px;
}

.color-pad {
    width: 100px;
    height: 100px;
    background-color: chocolate;
}

.col {
    padding-bottom: 10px;
}