#container {
    position: relative;
}

#container canvas, #overlay {
    position: absolute;
}

#overlay {
    width: 400px;
}

.color-pad {
    width: 6rem;
    height: 6rem;
}

div.col {
    padding-bottom: 20px;
}

h1{
    margin: 0.3em;
    color: white;
}

#color-indicator {
    background-color: grey;
    margin-top: 600px;
}

.color-pad:hover {
    box-shadow: 0 0 15px #ffffff;
    transition-duration: 0.3s;
    cursor: pointer;
  }
